#catalog
    flex-wrap: wrap
    min-height: 75vh
    flex-grow: 1
    max-width: 99.25%
    justify-content: space-around
    align-items: flex-start
    display: flex
    background-color: white

@media only screen and (min-device-width: 0px) and (max-device-width: 500px)
    #catalog
        margin-left: 3vw
        max-width: 80%
        flex-direction: column

@media only screen and (min-device-width: 501px) and (max-device-width: 1000px)
    #catalog
        flex-wrap: wrap
        max-width: 80%
        flex-direction: row