.hover-text
    display: none

#product
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0,0,0,0.4)
    min-height: 40vh
    display: grid
    justify-items: center
    margin: 3rem
    transition: .2s
    &:hover
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #25d1dd
    img
        width: 100%
        border-top: 2px solid #332d2d
        border-right: 2px solid #332d2d
        border-left: 2px solid #332d2d
        cursor: pointer
        height: 100%
        
#product div
    display: flex
    flex-direction: column
    text-align: start
    justify-content: space-between
    cursor: pointer
    width: 100%
    background-color: white
    height: 100%
    color: black
    border: 2px solid #332d2d
    transition: .3s
    &:active
        background-color: #b3aaaa
    &:hover
        background-color: #e7e3e3
        .product-price 
            display: none
        .hover-text
            display: flex
            font-size: calc(1.125vw + 10px)
            font-weight: 100
    p
        margin: 1rem
        font-family: sans-serif
        font-weight: bold
        font-size: calc(1.125vw + 18px)
    .product-price
        font-size: calc(1.125vw + 10px)
        font-weight: 100

@media only screen and (min-device-width: 0px) and (max-device-width: 500px)
    #product
        width: 90%
        div
            .product-price 
                font-size: calc(1.125vw + 16px)
            &:hover
                .product-price
                    display: flex
                .hover-text
                    display: none
//         margin-top: 0vh
//         margin-bottom: 0vh
//         padding: 1rem
//         min-height: 40vh
//         max-width: 70vw
//         img
//             max-height: 28vh
//             max-width: 82vw
//         div
//             justify-content: space-between
//             margin: 2rem
//             max-width: 82vw
//             p
//                 max-width: 82vw

@media only screen and (orientation: landscape) and (min-device-width: 0px) and (max-device-width: 1200px)
    #product
        img 
            margin-bottom: 5vh