.cart-product-wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    button
        display: flex
        align-items: center
        cursor: pointer
        height: 4vh
        aspect-ratio: 1/1
        text-align: center
        justify-content: center
        font-size: 2rem
        background-color: white
        border-radius: 2rem
        transition-duration: .3s
        &:hover
            background-color: #d2caca
    img
        border: 1.5px solid black
        height: 8rem
    .product-desc
        display: grid
        .product-count
            position: relative
            bottom: 4rem
            left: 1rem
            display: flex
            height: 2vh
            p
                margin: 1rem
                position: relative
                bottom: 15px
    
@media only screen and (min-device-width: 0px) and (max-device-width: 1000px)
    .cart-product-wrapper
        position: relative
        right: 5vw
        width: 105%
        display: flex
        align-items: center
        justify-content: space-between
        button
            cursor: pointer
            height: 4vh
            aspect-ratio: 1/1
            text-align: center
            font-size: 2rem
            padding: 1rem
            border: 2px solid black
            background-color: white
            border-radius: 2rem
            transition-duration: .3s
            &:hover
                background-color: #d2caca
        img
            margin-left: 2rem
            height: 5rem
        .product-desc
            display: grid
            .product-name
                font-size: 1000px
            .product-count
                position: relative
                bottom: 4rem
                left: 1rem
                display: flex
                height: 2vh
                p
                    margin: 1rem
                    position: relative